
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - Virtual Museum Portal</title>
    {% load static %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <div class="navbar">
        <img src="logo.png" class="logo">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'contact_us' %}">Contact us</a></li>
        </ul>
    </div>
    <h1>About Us</h1>
    <div class="grid-container">
        <div class="top">
            <!-- Image in the top part -->
            <div class="blur-image-container">
                <img src="{% static 'images/about.jpg'%}" alt="Blurred Image" class="blur-image">
            </div>
        </div>
        <div class="bottom">
    <p>Greetings and welcome one and all to the <strong>Virtual Museum Portal</strong>, where you can discover the wonders of the world, past and present!</p>
    <p>We provide a preview of what to expect upon visiting our registered museums, while also recommending which ones to visit based on your preferences.  </p>
  </div>
</body>
</html>
